tr{
width:500px;
}

tk{
width:100px;
height:15px;
text-align:center;
}

tl{
width:100px;
height:15px;
text-align:center;
}

th{ 
height:0px; 
width:5px;
 }

td{
width:1000px;
height:150px;
text-align:center;
}

.title{
font-weight: bold;
}

.score{
font-weight: bold;
font-size: larger;
color: red;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}